<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @capture.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @capture.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @capture.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @capture.phone_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @capture.status %>
</p>


